.navbar-brand {
  font-size: 2 rem !important;
  color: black
}

.imgSizeBlock1 {
  max-width: 100%;
}

.block1
{
  background-color: aliceblue;
}

/* Block 2 */

.imgSizeBlock2
{
  max-width: 100%;
}


/* Block 3 */

.block3
{
   background-color: aliceblue;
   padding-top: 25px;
   padding-bottom: 25px;
}


.block3SubCards
{
  background-color: white;
  text-align: center;
  box-shadow: 25px;
  margin-bottom: 25px;
}

.fa-pause-circle-o , .fa-file-o , .fa-ban
{

  color: rgb(233, 56, 86);
     background-color: pink;
  border-radius: 50%;
  padding: 15px;
  font-size: 30px!important;

  }

  .fa-opera , .fa-book , .fa-clock-o
  {
    color: rgb(236, 79, 6);
   background-color: rgb(175, 157, 124);
  border-radius: 50%;
   padding: 15px;
   font-size: 30px!important;

  }



  /* Block 4 */

  .block4Image
  {
    max-width: 100%;
  }


  .fa-diamond
{
  color: rgb(247, 12, 157);
}

.fa-plus-square-o
{
  color: orange;
}

.fa-optin-monster
{
  color: rgb(95, 109, 235);
}
.iconSize
{
  font-size: 45px;
  min-width: 82px;
}

/* Block 5 */

.numbersSize
{
  color:rgb(42, 38, 99);
}

/* Block 6 */

.block6
{
  background-color: rgb(21, 18, 63);
  color: white;
  padding-top: 28px;
}

.borderWidth
{
  border-width: medium;
}



/* Block 7 */


.block7Image
{
  max-width: 100%;
}


.block7Param
{
  color: rgb(85, 83, 83);
  font-size: 14px;
  margin-top: 20px;
}



/* Block 8 */

.block8
{
  background-color:  aliceblue;
  padding-top: 20px;
}

.block8Images
{
  max-width: 100%;

}


.gallery {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease;
}


@media (max-width: 450px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}

@media (max-width: 900px) and (min-width: 600px) {
.gallery {
-webkit-column-count: 2;
-moz-column-count: 2;
column-count: 2;
-webkit-column-width: 50%;
-moz-column-width: 50%;
column-width: 50%;
}
}


/* Block 9 */
.block9Image
{
  max-width: 100%;
}



/* Block 10 */
.block10
{
  background-color: aliceblue;
}

.block10Image
{
  max-width: 100%;
}

.block10Images
{
  position: relative;
}

.block10Img1
{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgb(75, 77, 77);
  opacity: 0.6;
  font-weight: bold;
  color: white;
  margin: 0px 2px 4px 2px;
}


/* Block 11*/
.block8Img
{
  max-width: 100%;
}



/* Block 12 */

.block12
{
  background-color: aliceblue;

}



.heading
{
  color: rgb(99, 97, 97);
  font-size: 29px;
  font-style: normal;
}

.hrLine
{
  border-width: medium;
  margin-top: 28px;
}
.faplus
{
  text-align-last: end;
}


/* Block 14 */

.block14
{
  background-color: aliceblue;
}

.socialMediaIcons
{
  color: white;
  background-color: rgb(53, 150, 230);
  border-radius: 50%;
  padding: 8px;
}

.lineHeightblock14
{
  line-height: 4px;
}

/* Block 15 */

.blocklineheight15
{
  line-height: 1px;
}
