/* BLock 1 */
.block1Icons
{
  color: rgb(255, 94, 0);
}

.backgroundGetstarted
{
   background-color: rgb(255, 94, 0);
}


/* Block 2 */

a:hover , .textwarning
{
  color: rgb(255, 94, 0)!important;
}

.navBgColor
{
  background-color: rgb(255, 94, 0)!important;
}



/* Block 4 */

.fa-arrow-righclass
{
  background-color: rgb(255, 94, 0);
  color: white;
  border-radius: 50%;
  padding: 10px;
  font-size: 8px;;
}

.block4bg
{
  border-radius: 15%
}



 /* .fontsizeh1
{
  font-size: 55px;
}

.fontsizep
{
  font-size: 25px;
  color: rgb(228, 224, 224);
} */
.block9height .carousel-inner .carousel-item img{
  width: 100%;
}

.block9height .carousel-inner .carousel-item .carousel-caption .imgBlock {
  border-radius: 50%; display: inline-block; height:100px; width:100px;
}

.block9height .carousel-inner .carousel-item .carousel-caption .imgBlock img{
   height: 100%;border-radius: 50%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .block4
{
  margin-top: -200px;
  text-align: left;
}
 .fontsizeh1
{
  font-size: 25px;
  text-align: left;
}

.fontsizep
{
  font-size: 16px;
  color: rgb(228, 224, 224);
}

.block3img
{
  width: 100%;
  height: 300px;
}

.imgheightblock9
{
  max-height: 250px;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .block4
{
  margin-top: -200px;
}

 .fontsizeh1
{
  font-size: 35px;
}

.fontsizep
{
  font-size: 20px;
  color: rgb(228, 224, 224);
}

.block3img
{
  width: 100%;
  min-height: 300px;
}



}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .block4
{
  margin-top: -220px;
}

 .fontsizeh1
{
  font-size: 35px;
}

.fontsizep
{
  font-size: 30px;
  color: rgb(228, 224, 224);
}

.block3img
{
  width: 100%;
  min-height: 300px;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .block4
{
  margin-top: -300px;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .block4
{
  margin-top: -300px;
}
}

.firstCardBg
{
  background-color:  rgb(255, 94, 0);
  color: white;
}


.setOpacity {
  opacity: 0.9;
  border-radius: 20%;

}

/* Block 5 */

.block5bgcolor
{
background-color: rgb(252, 241, 213);
}

.iconSize
{
  font-size: 30px;
  min-width: 52px;
  color: rgb(255, 94, 0);
 }


 /* Block 7 */

 .block7
 {
   background-color: rgb(252, 241, 213);
 }



 .block7icon
 {
   color: white;
   background-color: rgb(255, 94, 0);
   border-radius: 50%;
   display: inline;
   padding: 15px;
 }

 .block7card
 {
   position: relative;
 }


 /* Block 8 */

 .maindiv1
 {
   background-image: url("./images/bootstrap_new-Design_rashmi/values-1.jpg");
   background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 400px;

 }

 .maindiv2
 {
   background-image: url("./images/bootstrap_new-Design_rashmi/values-2.jpg");
   background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 400px;

 }
 .maindiv3
 {
   background-image: url("./images/bootstrap_new-Design_rashmi/values-3.jpg");
   background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 400px;

 }

 .maindiv4
 {
   background-image: url("./images/bootstrap_new-Design_rashmi/values-4.jpg");
   background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 400px;

 }

 .subdiv
 {
   position: absolute;
    bottom: 14px;
 }



/* block 10 */

.imgheightblock10
{
  width: 100%;
}


/* block 11 */
.block11
{
  background-color: rgb(252, 241, 213);
}



.block11Image
{
  max-width: 100%;

}
.block11Img1
{
  background-color: white;
}



/* block 12 */

.cardbtnbg
{
  background-color: rgb(255, 94, 0);
  color: white;
}

sup{
  color:rgb(255, 94, 0)
}

.valuecolor
{
  color: rgb(255, 94, 0);
}
.card:hover > .card-header
{
  background-color: rgb(255, 94, 0);
  color: white;
  cursor: pointer;
}

.card-header
{
  font-size: 18px;
}


/* block 13 */

.block13
{
  background-color: rgb(252, 241, 213);
}
