body{
  /* background-color: rgb(118, 118, 223); */
  background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  font-family: 'Poppins', sans-serif;
}


.blockOneparent{
  display:flex;
  flex-direction: row;
   justify-content:center;
   align-items:center;
}


.blockOneChild {
   color: white;
   margin-top: 20px;
   flex-basis: 50%;
   text-align: center;
}


.description {
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}


.blockTwoParent{
    display: flex;
   justify-content: center;
   align-items: center;
  }

.blockTwoChild{
  background-color: rgba(27,27,50,0.8);
  color: white;
  flex-basis: 50%;
  margin: 3%;
  padding: 3%;
  }


h1 {
    font-weight: 400;
    line-height: 1.2;
}








textarea{
  width: 100%;
  margin-bottom: 20px;
  height: 130px;
}

button{
  background-color: rgb(39, 156, 39);
  color: white;
}

input{
  width: 100%;
  font-family: inherit;
  margin-bottom: 12px;
}

label {

    font-size: 1.125rem;
    margin-bottom: 1px;
}

.input-radio, .input-checkbox {
    display: inline-block;

    min-width: 1.25rem;
    width: 0;
}


@media only screen and (max-width: 1120px) {
  body {
    background-color: purple;
  }

  .blockTwo{
    flex-basis: 80%;
  }

 }
